doctype html
html(lang='it')
  head
    meta(charset='utf-8')
    title Titolo
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/main.js")
  body
    // page content
    - for (i=0; i<10; i++)
      h1 #{message}
